/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #8e44ad, #3498db); /* Gradient warna ungu ke biru muda */
    color: #ffffff; /* Warna teks default */
}

section {
    text-align: center;
    padding: 20px;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    background-color: #ffffff; /* Warna latar belakang sel putih */
    color: #8e44ad; /* Warna teks sel ungu */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cell:hover {
     font-family: "Permanent Marker", cursive;
    font-size: 30px;
    color: #ffffff; 
    background-color: darkorchid; /* Warna latar belakang sel saat hover */
    transform: scale(1.05);
}

.game--title {
    font-family: "Permanent Marker", cursive;
    font-size: 60px;
    color: #ffffff; /* Warna teks judul */
    margin: 10px auto;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Bayangan teks */
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    background-color: #8e44ad; /* Warna latar belakang kontainer permainan ungu */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan kotak */
}

.game--status {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin: 20px auto;
}

.game--restart {
    font-family: "Roboto", sans-serif;
    background-color: #3498db; /* Warna tombol restart biru muda */
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.game--restart:hover {
    background-color: #2980b9; /* Warna tombol restart saat hover */
    transform: scale(1.05);
}

.game--restart, .start-player {
    font-family: "Roboto", sans-serif;
    background-color: #3498db; /* Warna tombol biru muda */
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Menambahkan margin antar tombol */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.game--restart:hover, .start-player:hover {
    background-color: #2980b9; /* Warna tombol saat hover */
    transform: scale(1.05);
}